#player{
	width: 720px;
	margin: 20px auto;
	padding: 7px 3px 3px 3px;
	background: #00CCFF;
	border: 1px solid grey;
	border-radius: 7px;
}
#play,#mute{
	padding: 2px 10px;
	width: 65px;
	border: 1px solid black;
	background: deeppink;
	font-weight: bold;
	border-radius: 6px;
	box-shadow: 1px 1px 6px black;
}
nav{
	margin: 4px 0;
}
#buttons{
	float: left;
	width: 135px;
	height: 20px;
	padding-left: 5px;
}
#bar{
	float:left;
	width: 410px;
	height: 5px;
	padding: 2px;
	margin: 5px 5px;
	border: 1px solid grey;
	background: grey; 
	border-radius: 3px;
}
#progress{
	width: 10px;
	height: 4px;
	background: #484848 ;
	border-radius: 3px;
}
